.container {
    width: fit-content;
    margin:  20px 20px 20px 10px ;
  }
  
  .centered-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
 /* Table styling */
 .form-title1 {
  width: 98%;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
  background-color:#34495e;
  border-radius: 4px 4px 0px 0px ;
  padding: 10px;
  margin-bottom: -25px;
  margin-top:30px;
  align-items: left;
  margin-right: -20px;
}
 .data-table {
  width: 99.8%;
  color: black;
  margin-top: -14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  max-height: 500px; 
  height: 500px;
  border-radius: 0px 0px 4px 4px;
  border-collapse: collapse;
  padding: 5px;
}

.data-table th {
  background-color: #34495e;
  color: black;
  font-weight: lighter;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  padding: 10px;
  border-top: 1px solid #fff;

}
.data-table td {
  font-size: 12px;
  padding: 6px;
  text-align: center;
  vertical-align: calc();
}

.data-table th .sort-icon {
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.data-table th .sort-icon.asc {
  transform: rotate(180deg);
}

.data-table th .sort-icon:hover {
  color: #fff;
}

.data-table tr:nth-child(even) {
  background-color: #ffffff;
}

.data-table tr:hover {
  background-color: #f1f1f1;
}
  .buttons {
    display: flex;
    gap: 10px;
    text-align: end;
    align-items: center;
    justify-content: center;
  }
  
  .delete-button {
    background-color: rgb(255, 96, 96);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .delete-button:hover {
    background-color: rgb(255, 96, 96);
  }

  .edit-button {
    background-color: rgb(5, 140, 230);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .edit-button:hover {
    background-color: rgb(5, 140, 230);
  }
  
  .upload-csv-button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .upload-csv-button:hover {
    background-color: darkgreen;
  }
  

 /* add new data */
.form-container {
    width: 50%;
    margin: 20px auto;
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;

  }
  .form-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    transition: border-color 0.3s ease;
    margin: 5px;
    box-sizing: border-box; /* Ensure consistent sizing */
  }

  .form-container1 select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    transition: border-color 0.3s ease;
    margin: 5px;
    box-sizing: border-box; /* Ensure consistent sizing */
  }
  .form-container1 input[type="text"],
  .form-container1 input[type="number"],
  .form-container1 input[type="date"],
  .form-container1 select[type="text"],
  .form-container1 select[type="number"],
  .form-container1 select[type="date"]  {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
    font-size: 12px;
    transition: border-color 0.3s ease;
    margin: 5px;
  
  }
  
  .form-container1 input:focus{
    border-color: #007bff;
    outline: none;
  }
  .form-container1 select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Styling the form title */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    justify-content: left;
    align-items: left;
  }
  .form-title {
    width: 520px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
    background-color:#34495e;
    border-radius: 4px 4px 0px 0px ;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: -20px;
    margin-left: -20px;
    align-items: left;
    margin-right: -20px;
  }
  .form-title3 {
    width: 620px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color:#34495e;
    border-radius: 4px 4px 0px 0px ;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: -40px;
    margin-left: -40px;
    align-items: left;
    margin-right: -20px;
  }
  
  
  .form-grid{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }
  .form-grid label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
  }
  .form-grid label input {
    flex-grow: 1; /* Ensures input takes available space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100px;
    margin-right: 10px;
  }
  
  .form-grid label span {
    width: 100px; /* Set a fixed width for labels */
    text-align: left;
  }
  /* Styling the form groups for equal margin */
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .update-button,
.cancel-button {
  width: 30%;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
.update-button {
  background-color: #4caf50; /* Green for update */
  color: white;
  margin-left: 80px;
}

.cancel-button {
  background-color: #f44336; /* Red for cancel */
  color: white;
  margin-top: -53.5px;
  margin-left: 260px;
}
  
  /* Styling the input fields */
  .form-container input[type="text"],
  .form-container input[type="number"],
  .form-container input[type="date"],
  .form-container select[type="text"]
   {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    transition: border-color 0.3s ease;
    margin: 5px;
  
  }
  
  .form-container input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Styling the submit button */
  .form-container .submitadd {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-left: 64%;
    width: 150px;
    margin-bottom: -25px;
  }

  .form-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-left: 64%;
    width: 150px;
  }

  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  /* Ensuring the form fields align properly */
  .form-container input,
  .form-container button,
  .form-container select {
    box-sizing: border-box;
  }
  
  .pagination {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
  }
  
  .pagination button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #b5b5b5;
    color: white;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px; /* Spacing between dropdown and input */
    margin-top: -35px;
    margin-left: 650px;
  }
  
  .filter-section select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    width: 200px; /* Set a width for consistency */
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .filter-section select:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
  }
  
  .filter-section input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    width: 200px;
    background-color: #ffffff;
    margin-right: 10px;
    transition: border-color 0.3s ease;
  }
  
  .filter-section input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .filter-section input:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }
  
  .filter-section button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-section button:hover {
    background-color: #0056b3;
  }
  
  /* edit update data */
.edit-form {
  margin: 20px auto;
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form h3 {
  margin-bottom: 5px;
  text-align: left;
  color: #333;
  margin-top: -10px;
  font-size: 18px;
  font-weight: bold;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #555;
  text-align: left;
}

.edit-form input[type="text"],
.edit-form input[type="number"],
.edit-form input[type="date"] {
  width: 100%;
  padding: 12px;
  margin: 2px 0 -5px -10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  transition: border-color 0.3s ease;
}

.edit-form input:focus {
  border-color: #3498db;
  outline: none;
}

.edit-form button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: 30%;
  align-items: center;
  margin-left: 15%;
}

.edit-form button:hover {
  background-color: #2980b9;
}

.edit-form .cancel-button {
  background-color: #e74c3c;
  margin-left: 60%;
  margin-top: -50px;
}

.edit-form button.cancel-button:hover {
  background-color: #c0392b;
}
/*graphs and charts*/
.charts-container {
  display: flex;
  margin-left: 95px;
  flex-wrap: wrap; /* Allows wrapping to next row */
}

.chart-column {
  flex: 1 1 calc(50% - 20px); /* Makes columns take equal space */
  margin: 20px; /* Adds space between columns */
  min-width: 200px; /* Minimum width for responsive design */
  max-width: 40%; /* Optional: Limits max width of each column */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  align-items: center;
}
.chart-column1 {
  margin: 30px 90px 20px 90px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  align-items: center;
  margin-left: 110px;
}


.chart-container {
  flex: 1 1 calc(50% - 20px); /* Makes columns take equal space */
  margin: 20px; /* Adds space between columns */
  min-width: 200px; /* Minimum width for responsive design */
  max-width: 30%; /* Optional: Limits max width of each column */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;

}

.card-container {
  display: flex;
  gap: 40px;

}

.card {
  flex: 1;
  padding: 10px;
  width: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff; /* Set text color for contrast */
  font-size: 11px;
}

.card-total-data {
  background-color: #63befa; /* Blue */
  color: black;
  font-weight: bold;
}

.card-total-cases {
  background-color: #59d78e; /* Green */
  color: black;
  font-weight: bold;
}

.card-total-deaths {
  
  background-color: #f38a7e; /* Red */
  color: black;
  font-weight: bold;
}

.card h3 {
  margin: 0;
  font-size: 1.2em;
}

.card p {
  font-size: 2em;
  margin: 0;
}

/*top*/
.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-locations-container {
  display: flex;
  gap: 60px;
  margin-top: 30px;
  width: 100%;
  max-width: 1060px;
  justify-content: space-between;
  align-items: flex-start;
}

.top-locations {
  flex: 1;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  min-width: 45%; /* Ensure the columns are roughly half the container width */
}

.top-locations h3 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
  text-align: center;
}

.top-locations ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  font-size: 12px;
}

.top-locations li {
  font-size: 1em;
  color: #555;
  padding: 5px 0;
}

/*add modal*/

