.charts-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to next row */
    justify-content: space-between; 
    gap: 10px;
  }
  
  .chart-column {
    flex: 1 1 calc(50% - 20px); /* Makes columns take equal space */
    margin: 20px; /* Adds space between columns */
    min-width: 200px; /* Minimum width for responsive design */
    max-width: 40%; /* Optional: Limits max width of each column */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    align-items: center;
  }
  