.form-container1 {
    width: 93%;
    background-color: #fff;
    padding: 40px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
  .form-container1 select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    transition: border-color 0.3s ease;
    margin: 5px;
    box-sizing: border-box; /* Ensure consistent sizing */
  }
  .form-container1 input[type="text"],
  .form-container1 input[type="number"],
  .form-container1 input[type="date"],
  .form-container1 select[type="text"],
  .form-container1 select[type="number"],
  .form-container1 select[type="date"]  {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    transition: border-color 0.3s ease;
    margin: 5px;
  
  }
  
  .form-container1 input:focus{
    border-color: #007bff;
    outline: none;
  }
  .form-container1 select:focus {
    border-color: #007bff;
    outline: none;
  }
  .form-container1 button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100px;
  }

  
  .form-container1 button:hover {
    background-color: #0056b3;
  }
  
  /* Ensuring the form fields align properly */
  .form-container1 input,
  .form-container1 button,
  .form-container1 select {
    box-sizing: border-box;
  }
  .form-container1 input::placeholder {
    color: #616161;  /* Change this to the color you want */
    opacity: 1; /* Ensure the placeholder is fully visible */
  }
  
  .form-container1 select option[disabled] {
    color: #747474; /* Placeholder color for the select */
  }
  .form-container1 select {
    color: #000; /* Default text color for entered data */
  }
  .form-container1 select:invalid {
    color: #747474; /* Placeholder color */
  }
  
  .form-container1 select:not(:invalid) {
    color: #000; /* Entered data color */
  }